.newNoteForm{
    /* border: 1px solid black; */
    margin-top: 2%;
    padding: 2%;
    margin-bottom: 2%;
}

.newNoteForm label{
    font-weight: bolder;
}

.newNoteForm textarea{
    width: 100%;
}