.login:hover {
    transition: 1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 10px;
}


@media(min-width : 300px) {
    .loginButton {
        width: 120px;
        height: 50px;
        margin-top: 5%;
    }

    .inputandicon{
        border: 1px solid black;
        padding: .5%;
    }

    .inputandicon input{
        padding: 1% 2%;
        font-weight: bolder;
        font-size: 15px;
        width: 80%;
    }

    .inputandicon i{
        font-weight: bolder;
        font-size: 25px;
    }
}

@media(min-width : 600px) {
    .loginButton {
        width: 120px;
        height: 50px;
        margin-top: 5%;
    }

    .inputandicon{
        border: 1px solid black;
        padding: .5%;
    }

    .inputandicon input{
        padding: 1% 2%;
        font-weight: bolder;
        font-size: 15px;
        width: 80%;
    }

    .inputandicon i{
        font-weight: bolder;
        font-size: 25px;
    }

}

@media(min-width : 900px) {
    .loginButton {
        width: 15%;
        height: 50px;
        margin-top: 2%;
    }

    .inputandicon{
        border: 1px solid black;
        padding: .5%;
    }

    .inputandicon input{
        padding: 1% 2%;
        font-weight: bolder;
        font-size: 15px;
        width: 80%;
    }

    .inputandicon i{
        font-weight: bolder;
        font-size: 25px;
    }

}