.icons{
    /* border: 1px solid green; */
    width: 60%;
    margin: 2% auto;
}

.icons i{
    padding: 8%;
}

.icons i:hover{
    border: 1px solid black;
    border-radius: 500%;
}

.card-body h5:hover{
    transition: 1s;
    text-decoration: underline;
    cursor: pointer;
}

.card{
    border: 1px solid #262C36;
    background-color: #262C36;
    color: white;
}

.card-body pre{
    margin-top: 5%;
}


@media(min-width : 350px){
    .card h5{
        font-size: 15px;
    }

    .card pre{

    }
}

@media(min-width : 650px){

}

@media(min-width : 900px){
    
}